<% provide(:title, @user.fullname) %>
<link rel="stylesheet" href="/assets/stylesheets/users.scss">
<div class="row">
  <aside class="col-md-4">
    <section class="user_infor">
      <h1>
        <%= @user.fullname %>
      </h1>
    </section>
  </aside>
</div>
