<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    <%= raw "#{yield(:alert)} #{pluralize(@user.errors.count, yield(:errors))}" %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
